name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@protoc
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace

  authly-test:
    # Runs the tests of the `authly` crate, not the end2end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@protoc
      - run: cargo test -p authly --tests --benches
